html {
	height: 100%;
}

body {
	height: 100%;
	padding-bottom: 50px;
}

.form-control {
	height: 51px;
    box-shadow: none;
    border-radius: 2px;
    padding-right: 35px;
    -moz-box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    background-color: #fff;
    border: 1px solid #E0E1E4;
}

.blueButton {
	border-radius: 28px;
    height: 56px;
    border: none;
    padding: 9px 30px;
    font-weight: bold;
    font-size: 15px;
    background: #2E79CF;
    color: #fff;
}

.researcherProfilePic {
	width: 125px;
	height: 125px;
	border-radius: 50%; 
	background: url("/images/default-user.png");
	background-position: center;
	background-size: cover;
}