/* Researcher Profile Form */
#researcherProfileFormContainer {
	padding-bottom: 25px;
}

.researcherCreateProfileContainer {
	padding: 25px;
	border: 5px solid #E0E1E4;
}

.researcherCreateProfileContainer .researcherProfilePicContainer {
	padding: 20px;
	height: 165px;
	width: 165px;
	border: 1px solid #E0E1E4;
}

.researcherCreateProfileContainer .selectProfilePicButtonContainer {
	height: 165px;
	display: table-cell;
	vertical-align: middle;
}

/* View Profile Stylig */
#viewProfileContainer {
	padding-top: 25px;
}

.researcherProfileContainer {
	padding: 25px;
	border: 5px solid #E0E1E4;
}

.researcherProfileContainer .researcherNameBlock h1 {
	margin-top: 0;
}

.researcherProfileContainer .col-xs-6:nth-child(1) {
	width: fit-content;
	border-right: 1px solid #E0E1E4;
}

.researcherProfileContainer .researcherDetailsBlock {
	padding-bottom: 15px;
}

.researcherProfileContainer .researcherDetailsBlock #researcherPosition {
	display: inline-block;
	word-wrap: break-word;
	word-break: break-word;
}

.researcherProfileContainer .researcherDetailsBlock #researcherEmail {
	word-wrap: break-word;
	word-break: break-word
}

.researcherProfileContainer .researcherEmail a {
	vertical-align: top;
}

.researcherProfileContainer .researcherBiography {
	padding-top: 5px;
	word-wrap: break-word;
}